.rodape{
    position:fixed;
    left:10px;
    bottom:5px;
    right:10px;
    background-color: rgb(15, 148, 148);
    color: white;
    text-align: center;
    border-width: 10px;
}

h1, h3{
    color:rgb(216, 17, 50);
}

body{
    background-color: rgba(85, 76, 76, 0.452);
}